.pokemons {
    width: 300px;
    height: 200px;
    background: #fff;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.pokemons p {
    font-size: 30px;
    color: black;
}

.window {
    width: 300px;
    height: 300px;
    background: greenyellow;
    display: flex;
    position: absolute;
    top: 0;
    left: 305px;
    display: none;
    text-align: center;
}

img {
    position: absolute;
    top: 0;
    right: 0;
}